#heroPicker {
    background: url("../media/Hero picker zonder knoppen.png") no-repeat center center;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: black;
}

#deckPicker {
    background: url("../media/Deck Picker zonder knoppen.png")  no-repeat center center;
    background-size: contain;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#heroPicker #heroes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    margin-left: 26vw;
    margin-top: 26vh;
    width: 35vw;
}

#deckPicker #yourdecks {
    margin-left: 26vw;
    margin-top: 26vh;
    width: 34vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

#deckPicker #yourdecks div {
    width: 11vw;
    margin-bottom: 19.5vh;
}



#heroPicker #heroes div {
    width: 11vw;
    margin-bottom: 20vh;
}

#heroPicker #selectedHero, #deckPicker #selectedDeck {
    display: block;
    position: absolute;
    bottom: 38vh;
    right: 17vw;
    width: 20vw;
}

#heroPicker #gotoDeck {
   position: absolute;
    bottom: 18vh;
    right: 24.5vw;

}

#deckPicker #playGame {
    right: 26.5vw;
    position: absolute;
    bottom: 11vh;
    border: transparent;
    border-radius: 50vw 50vh;
    font-family: hearthstoneFont, Serif;
    text-decoration: none;
    color: RGB(80 60 31);
    font-weight: bold;
    background-position: center;
    padding: 3vw;
}

#heroPicker #gotoHome, #deckPicker #gotoHero{
    display: block;
    position: absolute;
    bottom: 0;
    right: 17vw;

}

body, html {
    height: 100%;
}

#deckPicker #yourdecks div a, #heroPicker #heroes div a, #heroPicker img, #deckPicker img{
    width: 15vw;


}

#heroPicker #gotoHome, #deckPicker #gotoHero,#heroPicker #gotoDeck {
    font-family: hearthstoneFont, Serif;
    text-decoration: none;
    color: RGB(80 60 31);
    font-weight: bold;
    background-image: url("../media/Knop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8vw;
    padding: 3vw;
}

#heroPicker a, #deckPicker a{
    background-image: none;
    font-family: hearthstoneFont, Serif;
    text-decoration: none;
    color: #af8829;
}






