#heroPicker {
    background: url("../images/Hero picker zonder knoppen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;

}

#deckPicker {
    background-image: url("../images/Deck Picker zonder knoppen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

#heroPicker #heroes {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    margin-left: 21.5%;
    margin-top: 10%;
    width: 42.5%;


}

#deckPicker #yourdecks {
    margin-left: 21.5%;
    margin-top: 10%;
    width: 42.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

#deckPicker #yourdecks div {
    width: 33.33%;
    margin-bottom: 27%;
}



#heroPicker #heroes div {
    width: 33.33%;
    margin-bottom: 27%;
}

#heroPicker #selectedHero {
    display: block;
    position: absolute;
    bottom: 24%;
    right: 10.5%;
    width: 25%;



}

#heroPicker #gotoDeck, #deckPicker #playGame {
   position: absolute;
    bottom: 17%;
    right: 22%;

}

#heroPicker #gotoHome, #deckPicker #gotoHero{
    display: block;
    position: absolute;
    bottom: 0;
    right: 17%;

}

body, html {
    height: 100%;
}

#deckPicker #yourdecks div a, #heroPicker #heroes div a, #heroPicker img{
    width: 74%;


}

#heroPicker #gotoHome, #deckPicker #gotoHero,#heroPicker #gotoDeck, #deckPicker #playGame {
    text-decoration: none;
    color: RGB(80 60 31);
    font-weight: bold;
    background-image: url("../images/Knop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 3%;
}

#heroPicker a, #deckPicker a{
    background-image: none;
    text-decoration: none;
    color: #af8829;

}






