#heroPicker {
    background: url("../media/Hero picker zonder knoppen.png") no-repeat center center;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
}

#deckPicker {
    background: url("../media/Deck Picker met play.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
}

#heroes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    margin-left: 25.5%;
    margin-top: 13%;
    width: 33.5%;
}

#listOfDecks {
    margin-left: 25.5%;
    margin-top: 13%;
    width: 33.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

#listOfDecks div {
    width: 33.33%;
    margin-bottom: 29%;
}

#heroes div {
    width: 33.33%;
    margin-bottom: 29%;
}

#selectedHero, #selectedDeck {
    display: block;
    position: absolute;
    bottom: 40%;
    right: 17.8%;
    width: 19%;
}

#continueKnop, #playGame {
   position: absolute;
    bottom: 17%;
    right: 24%;
}

#playGame {
    right: 24.5%;
    bottom: 9.5%;
    border-radius: 50% 50%;
    border: transparent solid;
    font-family: hearthstoneFont, Serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3%;
    font-size: 220%;
    letter-spacing: 1px;
}

.backKnop {
    display: block;
    position: absolute;
    bottom: 0;
    right: 17%;

}

body, html {
    height: 100%;
}

#listOfDecks div a, #heroes div a, img{
    width: 74%;


}

.backKnop,#continueKnop {
    font-family: hearthstoneFont, Serif;
    text-decoration: none;
    color: #503c1f;
    font-weight: bold;
    background-image: url("../media/Knop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 3%;
}



#heroes div a {
    color: #af8829;
}







