#creditsScreen {
    display: block;
    background: url("../media/backgroundAnnieOrigin.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width:100vw;
    font-family: heartstoneFront, serif;
    color: #513d1f;
}
#creditsScreen .menuBox {
    background: url("../media/woodBorderStoneBackground.png") no-repeat center center;
    background-size: 120vh;
    height: 100vh;
    text-align: center;
}

#creditsScreen header {
    padding-top: 25vh;
}

#creditsScreen #developerTeamAndFunctions {
    display: flex;
    justify-content: space-between;
    width: 35vh;
    margin-left: auto;
    margin-right: auto;

}

#creditsScreen section {

}

#creditsScreen h1 {
    font-size: 1.8rem;
    margin-bottom:2vh;
    font-weight: bold;
}

#creditsScreen h2 {
    font-size: 1.2rem;
    margin-top: 1.5vh;
    margin-bottom: 1.1vh;
    font-weight: bold;
}

#creditsScreen p {
    margin-bottom: 0.5vh;

}

#creditsScreen li {
    margin-bottom: 0.5vh;
}