#deckbuilder body{
    position: relative;
    font-family: sans-serif;
    font-size: 1rem !important;
    color: black;
    background-color: white;
}
#deckbuilder a{
    text-decoration: none;
    color: black;
}
#deckbuilder .main {
    width: 77vw;
    position: absolute;
    top: 35vh;
    right: 0;
}
#deckbuilder header{
    height: 33.5vh;
    width: 77vw;
    right: 0;
    position: absolute;
}
#deckbuilder aside{
    position: absolute;
    width: 22.5vw;
}
#deckbuilder form{
    width: 22.5vw;
    position: absolute;
    top: 10vh;
}


#deckbuilder #firstadd {
    text-align: center;
    line-height: 5vh;
    position: absolute;
    top: 3vh;
    right: 10vw;
    border: 1px black solid;
    border-radius: 100%;
    height: 5vh;
    width: 5vh;
}
#deckbuilder #save {
    text-align: center;
    line-height: 20vh;
    position: absolute;
    top: 14vh;
    right: 0;
    width: 21.5vw;
    border: 1px black solid;
}

#deckbuilder #hero{
    position: absolute;
    width: 30vw;
    left: 20vw;
    padding-top: 2vh;
    line-height: 5vh;
    text-align: center;
    word-spacing: 10vh;
}
#deckbuilder #hero a{
    font-size: 2rem !important;
    border: 1px black solid;
    border-radius: 100%;
    padding: 1%;
}
#deckbuilder #quickfilter{
    position: absolute;
    top: 8vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

#deckbuilder #quickfilter a, #deckbuilder #cardAmount{
    display: inline-block;
    padding: 5px;
    font-size: 0.7rem !important;
    border: 1px black solid;
}

#deckbuilder #deck{
    overflow-y: scroll;
    position: absolute;
    top: 14vh;
    width: 55vw;
    border: 1px black solid;
    height: 20vh;
}

#deckbuilder #cards {
    border: 1px black solid;
    height: 54vh;
}

#deckbuilder #decks{
    height: 9.5vh;
    border: 1px black solid;
    display: flex;
    line-height: 9.5vh;
}

#deckbuilder #decks li{
    line-height: 4vh;
    border: 1px black solid;
    width: 11vw;
    text-align: center;
}
#deckbuilder #search{
    width: 11vw;
}
/* Hero specific cards*/
#deckbuilder #firstFilter{
    position: absolute;
    left: 0;
    width: 17vw;
}
#deckbuilder #firstFilter>label{
    display: block;
}
#deckbuilder #all, #deckbuilder #mage, #deckbuilder #paladin, #deckbuilder #neutral{
    display: inline-block;
    width: 1vw;
}
#deckbuilder #all+label, #deckbuilder #mage+label, #deckbuilder #paladin+label, #deckbuilder #neutral+label{
    display: inline-block;
    width: 14vw;
}
/* Card Types */
#deckbuilder #secondFilter{
    position: absolute;
    top: 13vh;
    right: 0;
    width: 10vw;
}
#deckbuilder #secondFilter>label{
    display: block;
}
#deckbuilder #minions, #deckbuilder #weapons, #deckbuilder #spells{
    display: inline-block;
    width: 1vw;
}
#deckbuilder #minions+label, #deckbuilder #weapons+label, #deckbuilder #spells+label{
    display: inline-block;
    width: 7vw;
}
/* Mana */
#deckbuilder #thirdFilter{
    position: absolute;
    top: 21vh;
    left: 0;
    width: 14vw;
}
#deckbuilder #thirdFilter>label{
    display: block;
}
#deckbuilder #zero+label , #deckbuilder #one+label, #deckbuilder #two+label ,#deckbuilder #three+label ,#deckbuilder #four+label ,#deckbuilder #five+label ,#deckbuilder #six+label , #deckbuilder #seven+label{
    display: inline-block;
    width: 11vw;
}
#deckbuilder #zero , #deckbuilder #one, #deckbuilder #two ,#deckbuilder #three ,#deckbuilder #four ,#deckbuilder #five ,#deckbuilder #six , #deckbuilder #seven{
    display: inline-block;
    width: 1vw;
}
/* Card Rarity */
#deckbuilder #fourthFilter{
    position: absolute;
    right: 0;
    top: 26vh;
    width: 10vw;
}
#deckbuilder #fourthFilter>label{
    display: block;
}
#deckbuilder #free, #deckbuilder #common, #deckbuilder #rare, #deckbuilder #epic, #deckbuilder #legendary{
    display: inline-block;
    width: 1vw;
}
#deckbuilder #free+label, #deckbuilder #common+label, #deckbuilder #rare+label, #deckbuilder #epic+label, #deckbuilder #legendary+label{
    display: inline-block;
    width: 7vw;
}

#deckbuilder #sortlabel{
    position: absolute;
    top: 10vh;
    left: 0;
}
#deckbuilder #sort{
    width: 14vw;
    position: absolute;
    top: 10vh;
    right: 0;
}
#deckbuilder fieldset{
    height: 60vh;
    width: 22.5vw;
    position: absolute;
    top: 25vh;
}

#deckbuilder .save{
    width: 77vw;
    position: absolute;
    top: 35vh;
    right: 0;
}
#deckbuilder .save>label{
    text-align: center;
    width: 30vw;
    left: 20vw;
    position: absolute;
    top: 20vh;
}
#deckbuilder .save input{
    width: 30vw;
    left: 20vw;
    position: absolute;
    top: 25vh;
}
#deckbuilder .save ul{
    display: flex;
    width: 30vw;
    left: 20vw;
    position: absolute;
    justify-content: space-between;
    top: 30vh;
}
#deckbuilder .save li{
    padding: 5px;
    border: 1px solid black;
}

#deckbuilder #gotoRechooseDeck, #deckbuilder #gotoChooseDeck {
    position: absolute;
    bottom: 5vh;
    left: 5.5vw;
}

#deckbuilder .buttonHolder {
    border: 1px black solid;
    background-size: 100% 100%;
    width: 20vh;
    height: 7vh;
    line-height: 7.5vh;
    text-align: center;
}

#cards {
    overflow-y:scroll;
}

.cardInDeck figure{
    -webkit-user-drag: element;
    width: 23vh;
    display: inline-block;
}
.chosenCards figure{
    -webkit-user-drag: element;
    width: 11vh;
    display: inline-block;
}
/*.cardInDeck figure img:last-child{
    z-index: 1;
    position: absolute;
    display: none;
    top: 0;
    left: -23vw;
    width: 45vh;
}*/
.two{
    background-color: blue;
}

.cardInDeck, .chosenCards {
    margin-left: 1vw;
    display: inline;
}
.cardInDeck img {
    width: 23vh;
}
.chosenCards img{
    width: 5vw;
}



