#gameBoard {
    background: url(../media/board_01.jpg) no-repeat center center;
    background-size: 177.77vh 100vh;
    height: 100vh;
    position: absolute;
    width: 100vw;
}

#gameBoard .main {
    display: block;
    position: relative;
    width: 126vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

#gameBoard .you {
    display: block;
    width: 100%;
    height: 53.25vh;
    /*background-color: rgba(0,0,255,0.4);*/
}

#gameBoard .enemy {
    display: block;
    width: 100%;
    height: 46.75vh;
    vertical-align: middle;
    /*background-color: rgba(255,0,0,0.4);*/
}

#gameBoard .cards {
    position: relative;
    overflow: hidden;
    /*padding-left: 36vh;*/
}

#gameBoard .cards ul {
    text-align: center;
    margin-left: -0.5vh;
    width: 100%;
}

#gameBoard .you .cards {
    display: block;
    height: 16vh;
    padding-top: 37.25vh;
    /*background-color: rgba(0,255,0,0.4);*/
}

#gameBoard .enemy .cards {
    display: block;
    height: 8vh;
    padding-bottom: 38.75vh;
    /*background-color: rgba(0,255,255,0.4);*/
}

#gameBoard .cards li {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    width: 11vh;
    transition: transform 0.25s;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.7);
    border: whitesmoke thin solid;
}

#gameBoard .you .cards li {
    bottom: -0.5vh;
    height: 15vh;
    line-height: 15vh;
    z-index: 1 !important;
}

#gameBoard .you .cards li:hover, #gameBoard .you .cards li:active {
    transform-origin: left center !important;
    transform: scale(2.5, 2.5) translate(-0.5vh, -5vh) !important;
    z-index: 2 !important;
}

#gameBoard .you .cards li.notFanned:hover, #gameBoard .you .cards li.notFanned:active {
    transform-origin: left center !important;
    transform: scale(2.5, 2.5) translate(-0.5vh, -5.25vh) !important;
}

#gameBoard .enemy .cards li {
    top: -5vh;
    height: 15vh;
    line-height: 15vh;
}

#gameBoard .you .manaTotal {
    position: absolute;
    height: 5vh;
    line-height: 5vh;
    width: 8vh;
    bottom: 5.3vh;
    right: 32.25vh;
    z-index: 0;
    text-align: center;
    color: white;
}

#gameBoard .you .manaHolder {
    position: absolute;
    /*background-color: rgba(255,255,0,0.5);*/
    width: 30.5vh;
    height: 5vh;
    line-height: 5vh;
    bottom: 5.5vh;
    right: 1vh;
}

#gameBoard .you .manaHolder li {
    display: inline-block;
    vertical-align: middle;
    width: 3vh;
    height: 3.5vh;
    margin-right: -0.5vh;
    /*background-color: rgba(255,0,255,0.5);*/
}

#gameBoard .you .manaHolder li.mana {
    background: no-repeat url("../media/manaSprite.png") left top;
    background-size: 120% 205%;
}

#gameBoard .you .manaHolder li.usedMana {
    background: no-repeat url("../media/manaSprite.png") -0.25vh bottom;
    margin-right: -0.6vh;
    margin-top: 0.2vh;
    background-size: 120% 205%;
}

#gameBoard .you .hero {
    position: absolute;
    /*background-color: rgba(0,255,255,0.5);*/
    width: 15.25vh;
    height: 17.5vh;
    bottom: 15.5vh;
    left: 55vh;
    background: no-repeat url("../media/mage.png") center right;
    background-size: contain;
}

#gameBoard #tempButtonAddCard {
    position: absolute;
    bottom: 4vh;
    line-height: 4vh;
    width: 10vh;
    text-align: center;
    vertical-align: middle;
    background-color: red;
    color: white;
    cursor: pointer;
    z-index: 2;
}

/*
#playField #fuse {
    width: 80%;
    background: repeat-x url("../media/rope.png") center right;
    background-size: 700px 300px;
}

#playField #spark {
    top: 1.4%;
    width: 85%;
    background: no-repeat url("../media/sparkles.gif") center left;
    background-size: 110px;
}

#playField #fuse.burn {
    width: 4%;
    -webkit-transition: ease-in width 20s; /* Safari */
    /*transition: ease-in width 20s;
}

#playField #spark.burn {
    width: 10%;
    -webkit-transition: ease-in width 20s; /* Safari */
/*transition: ease-in width 20s;
}