#heroPicker {
    background: black url("../media/heroPicker.png") no-repeat center center;
    background-size: 177.77vh 100vh;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#heroPicker .pickerBox {
    position: relative;
    height: 100vh;
    width: 132vh;
    margin-left: auto;
    margin-right: auto;
}

#heroPicker #heroes {
    position: absolute;
    left: 10.5vh;
    top: 14.5vh;
    width: 66.25vh;
    height: 66vh;
}

#heroPicker #heroes li{
    display: inline-block;
    width: 21.7vh;
    height: 17.5vh;
    line-height: 17.5vh;
    text-align: center;
    padding-top: 4vh;
}

#heroPicker #heroes li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    border: thin hidden;
    border-radius: 50% 50% 10% 10% / 22% 22% 10% 10%;
}

/*
#heroPicker #selectedHero {
    display: block;
    position: absolute;
    bottom: 38vh;
    right: 17vw;
    width: 20vw;
    height: 30vh;
    background: no-repeat url("../media/mage.png") center center;
    background-size: contain;
}
#heroPicker #gotoDeck {
    position: absolute;
    bottom: 18vh;
    right: 24.5vw;
}
#heroPicker #gotoHome, #deckPicker #gotoHero{
    display: block;
    position: absolute;
    bottom: 0;
    right: 17vw;
}

#heroPicker #heroes li a, #heroPicker #selectedHero {
    width: 15vw;
}

#heroPicker .buttonHolder {
    display: inline-block;
    bottom: 0;
    font-weight: bold;
    background: no-repeat url("../media/button.png") center center;
    background-size: 20vh;
    width: 20vh;
    height: 7vh;
    line-height: 7.5vh;
    margin-top: 17.5vh;
}

#heroPicker .buttonHolder .insideButton {
    vertical-align: center;
    display: inline-block;
    width: 12vh;
    line-height: 5.5vh;
    border: red thin solid;
    border-radius: 10% / 50%;
}
*/