
#replaceCardScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#replaceCardScreen h1 {
    color: white;
    font-size: 3vh !important;
    font-weight: bold;
    margin-top: 24vh;
    margin-bottom: 2vh;
    display: inline-block;
}

#randomCardsFromDeck {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#replaceCardScreen img {
    width: 24vh;
}

#randomCardsFromDeck li {
    margin-left: 2vh;
    margin-right: 2vh;
}

#replaceCardScreen .buttonHolder {
    display: inline-block;
    font-weight: bold;
    background: no-repeat url(../media/button.png) center center;
    background-size: 100% 100%;
    width: 20vh;
    height: 7vh;
    line-height: 7.5vh;
    text-align: center;
    margin-top: 2vh;
}

#replacedCards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29vh;
    position: absolute;
    right: 20vw;
    bottom: 48vh;
}

#replacedCards li {
    margin-left: 2vh;
    margin-right: 2vh;
}

#replaceCardScreen .buttonHolder .insideButton {
    display: inline-block;
    width: 11vh;
    line-height: 5.5vh;
    border-radius: 10% / 50%;
}