@font-face {
    font-family: 'howeststoneFont';
    src: url('../fonts/OPTIBelwe-Medium.otf') format('otf');
}

body, html {
    height: 100%;
}

footer{
    position: absolute;
    background-color: rgba(0, 0, 0,0.6);
    width: 100%;
    bottom: 0;
    height: 4.5vh;
    line-height: 2.5vh;
}

footer ul li{
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: blue;
    cursor: pointer;
}

footer ul li:first-of-type{
    background: url("../media/soundButtonSprite.png")left 1px;
    background-size: 100%;
    width: 7vh;
    height: 100%;
    bottom: 0;
}

footer ul li.muted{
    background:no-repeat url("../media/soundButtonSprite.png")left bottom;
    background-size: 100%;
}


.hidden {
    display: none !important;
    visibility: hidden;
}

* {
    font-family: howeststoneFont, serif !important;
    font-size: 2.06vh !important;
    text-decoration: none;
    color: #af8829;
}

*::selection {
    background-color: transparent;
}

.buttonHolder .insideButton {
    color: #513d1f !important;
}
