@font-face {
    font-family: 'howeststoneFont';
    src: url('../fonts/OPTIBelwe-Medium.otf') format('otf');
}

body, html {
    overflow: hidden;
    height: 100%;
}

footer{
    position: absolute;
    background-color: rgba(0, 0, 0,0.6);
    width: 100%;
    bottom: 0;
    text-align: right;
}

footer ul li{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    width: 7vh;
    margin: 0.5vh;
    height: 4.5vh;
    line-height: 4.25vh;
}

footer ul li:last-of-type{
    background: no-repeat url("../media/soundButtonSprite.png") center top;
    background-size: 100% 200%;
    margin-right: 1.5vh;
}

footer ul li:first-of-type {
    background: no-repeat url(../media/buttonStone.png) center top;
    background-size: 100%;
    margin-right: 0;
}

footer ul li.muted{
    background-position: center bottom;
}


.hidden {
    display: none !important;
    visibility: hidden;
}

* {
    font-family: howeststoneFont, serif !important;
    font-size: 2.06vh !important;
    text-decoration: none;
    color: #af8829;
    outline: none;
    -webkit-user-select: none; /* Safari, Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
    -webkit-user-drag: none;
}

*::selection {
    background-color: transparent;
}

.buttonHolder .insideButton {
    color: #513d1f !important;
}



