#enemyHero {
    right: 15vw;
    top: 3vw;
    position: absolute;
}

#playerHero {
    position: absolute;
    left: 15vw;
    bottom: 10vh;
}

#enemyHero img, #playerHero img {
    width: 36vh;
}

#vs {
    position: absolute;
    left: 44vw;
    top: 38vh;
    width: 12vw;
}