
#replaceCardScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
#replaceCardScreen h1 {
    font-size: 5vh !important;
    font-weight: bold;
    margin-top: 24vh;
    margin-bottom: 2vh;
    display: inline-block;
}

#replaceCardScreen h1::first-letter {
    text-transform: uppercase;
}

#replaceCardScreen h2 {
    color: white;
    font-size: 3vh !important;
    font-weight: bold;
    margin-bottom: 2vh;
}

#replaceCardScreen ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#replaceCardScreen img {
    width: 24vh;
}
#replaceCardScreen ul li.selected{
    border: 1px solid #af8829;
}
#replaceCardScreen ul li {
    margin-left: 2vh;
    margin-right: 2vh;
    box-sizing: border-box;
    display: inline-block;
    width: 26.4086021505vh;
    height: 40vh;
    transition: transform 0.25s;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.7);
    z-index: 1 !important;
    line-height: 64vh;
    background-size: 19vh;
}


#replaceCardScreen .buttonHolder {
    display: inline-block;
    font-weight: bold;
    background: no-repeat url(../media/button.png) center center;
    background-size: 100% 100%;
    width: 20vh;
    height: 7vh;
    line-height: 7.5vh;
    text-align: center;
    margin-top: 5vh;
}



#replaceCardScreen .buttonHolder .insideButton {
    display: inline-block;
    width: 11vh;
    line-height: 5.5vh;
    border-radius: 10% / 50%;
}




